/* font-family: 'Lato', sans-serif; */

/*general*/

.container {
  font-family: 'Lato', sans-serif;
  height: 1000px;
}

img {
  display: block;
}

.nav {
  border-bottom: 0;
}

/*sidebar*/

#sidebar {
  border: 0;
}

#sidebar li {
  list-style-type: none;
    padding: 4px;
}

/*jumbotron*/

.jumbotron {
  color: #FFFFFF;
  width: 98%;
  background-image: linear-gradient(45deg, #E88E28, #E8AB28);
  margin-top: 2px;
}

/*main content*/

#headshot {
  float: right;
  height: 30%;
  width: 30%;
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 5px;
  border-radius: 15px;
}

#aboutme {
  margin-top: 40px;
}

.panel {
  border: none;
}

.panel h4 {
  color: #4C737D;
}

#work {
  background-image: linear-gradient(45deg, #E88E28, #E8AB28);
  width: 96%;
  color: #FFFFFF;
}

#work li {
  list-style-type: none;
  margin-right: 10px;
  padding-bottom: 10px;
}
