/* font-family: 'Lato', sans-serif; */

#sidebar {
  height: 500px;
  border: 0;
}

.container {
  height: 1000px;
}

.jumbotron {
  font-family: 'Lato', sans-serif;
  color: #FFFFFF;
  width: 98%;
  background-image: linear-gradient(45deg, #E88E28, #E8AB28);
  margin-top: 2px;
}

#sidebar li {
  list-style-type: none;
}

#headshot {
  height: 192px;
  width: 192px;
  float: right;
}

img {
  display: block;
  padding: 10px;
}

.panel {
  border: 0;
}

.panel h4 {
  color: #4C737D;
}

.nav {
  border-bottom: 0;
}

#work {
  background-image: linear-gradient(45deg, #E88E28, #E8AB28);
  width: 96%;
  color: #FFFFFF;
}
